table {
  border: 1px solid black;
  table-layout: fixed;
  width: 100px;
}

.table tr,
.table td {
  text-align: center;
  width: 10px;
  vertical-align: middle;
  font-size: 14px;
  font-family: 'Rubik', sans-serif;
  color: #474747;
}

input {
  text-align: center;
  vertical-align: middle;
  width: 105%;
}

.green { 
    background: green;
}

.red {
    background: red;
}

#virustotal {
  width: 16px;
  height: auto;
}